{% extends "layout.html" %}

{% block title %}
Please verify your email address
{% endblock %}

{% block main %}
<!--custom message goes here-->

<div class="px-4 py-5 my-5">
    <div class="col-lg-6 mx-auto">
        <h1>We Need to Verify Your Email</h1>
        <p class="lead">To fully participate in the MySupport community, you'll need to verify the email address you provided when you registered.</p>
        <p class="lead">Click the button below to send a verification email to {{ emailAddress }}.</p>
        <div class="d-flex justify-content-center">
            <a href="/emailReverify" class="btn btn-large btn-primary mx-auto">Send email</a>
        </div>
    </div>
</div>
{% endblock %}