{% extends "layout.html" %}

{% block title %}
Error
{% endblock %}

{% block main %}
<!--custom message goes here-->

<h1>{{errorView.title}}</h1>

<div>
    <p>{{errorView.text}}</p>
</div>
<!--offer two buttons, one with href to next URL, the other with home URL-->
<div class="d-flex justify-content-center">
    <a href={{errorView.nextRoute}} class="btn btn-large btn-primary mx-3">{{errorView.buttonLabel}}</a>
    <a href="/" class="btn btn-large btn-primary mx-3">Home</a>
</div>
{% endblock %}