{% extends "layout.html" %}

{% block head %}
    {{ super () }}
     <link href="/static/css/register.css" rel="stylesheet">
{% endblock %}

{% block title %}
    Request a New Password
{% endblock %}

{% block main %}
<div class="align-items-center" height=100%>
    <main class="form-signin">
      <form action="/passwordreset1" method="post">
        <h1 class="h3 mb-4 fw-normal">Request a New Password</h1>
        <input type="hidden" name = "next" value="{{ request.args.get('next', '') }}"/>
        <label for="emailInput">Email address</label>
        <p class="text-muted">Example: yourname@company.com</p>
        <div class="input-group mb-3">
          <input type="email" class="form-control" id="emailInput" name="email" required>
        </div>
        <button class="w-100 btn btn-lg btn-primary mb-3" type="submit">Reset Password</button>
      </form>
      <p style="text-align:center">
        <a href="/signin" class="mb-3">Return to sign in</a></p>
      <p style="text-align:center;">Not registered yet? <a href="/register">Do it now.</a></p>
    </main>
</div>

{% endblock %}

<!-- {% block localJS %}
  <script src="/static/js/signin.js"></script>
{% endblock %} -->
