{% extends "layout.html" %}

{% block head %}
    {{ super () }}
     <link href="/static/css/profile2.css" rel="stylesheet">
{% endblock %}

{% block title %}
Profile Step 2 of 5
{% endblock %}

{% block main %}
<div class="px-4 pt-4 pb-5 my-4">
    <a id="top"></a>
    <div class="col-lg-9 mx-auto">
        <h1>How should people know you?</h1>
        <div class="progress my-3">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

{% include 'profileInner2.html' %}

        <div id = "profile2Nav" class="d-flex justify-content-center mt-4">
            <a href="/profile1" class="btn btn-large btn-success mx-3"><i class="fas fa-caret-square-left"></i></a>
            <a href="#" id="profile2SubmitButton" class="btn btn-large btn-success mx-3">Save and continue</a>
        </div>
    </div>
</div>
{% endblock %}



{% block localJS %}<script src="/static/js/profile2.js"></script>{% endblock %}